.calculator{
    display:flex;
    width:360px;
    background-color:#990011FF;
    flex-wrap: wrap;
    padding:20px;
    border-radius:5px;
    gap:1rem;
    border:2px solid black;
}
.screen{
    width:360px;
    height:100px;
    background-color: #FCF6F5FF;
    border:2px solid black;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.screen div{
    width:320px;
    height:40px;
    font-size:40px;
    color:#990011FF;
}
.keys{
    display:flex;
    width:360px;
    flex-wrap: wrap;
    gap:1rem;
    /* justify-content: space-between; */
}
.keys div{
    width:74px;
    background-color:#FCF6F5FF;
    border:2px;
    height:45px;
    border-radius:5px;
    font-size:28px;
    color:#990011FF;
    /* text-align:center; */
    /* padding-top:15px; */
    border:2px solid black;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.utilityKeys{
    width:168px;
    background-color: #FCF6F5FF;
    border:2px solid black;
    border-radius: 5px;
    /* padding:15px; */
    text-align: center;
    font-size:28px;
    color:#990011FF;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back svg{
    height:40px;
    
}
.projectTitle1{
    font-size:40px;
    color:#FCF6F5FF;
    background-color: #990011FF;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    width:120px;
    padding:10px;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-top:2px solid black;
}
.projectTitle2{
    font-size:40px;
    background-color:#FCF6F5FF;
    color: #990011FF;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    width:120px;
    padding:10px;
    border-right:2px solid black;
    border-bottom:2px solid black;
    border-top:2px solid black;
}
.Title{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
    margin-top:20px;    
}